*.xlsx
*.csv

*.tif
*.nc
*.png
*.pkl
*.pth
*.exe
*.json
folder/
*.html
*.tex
*.zip
*.pdf
chrome-headless-shell-win64/
url/
weekly-master/
career/
awesome/
data/

SingleFileSelenium/

SingleFile-master/
single/
exts.ggplot2.tidyverse.org_files/